html {
    font-size: 14px;  
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }
  
.font-xs{
  font-size:0.75rem
}
  
.font-sm {
  font-size:0.875rem
}

.font-base{
  font-size:1rem
}

.font-lg{
  font-size:1.125rem
}

.font-xl{
  font-size:1.25rem;
}

.font-xxl{
  font-size:1.5rem;
}

.font-xs--b{
  font-size:0.75rem;
  font-weight: bold;
}
  
.font-sm--b {
  font-size:0.875rem;
  font-weight: bold;
}

.font-base--b{
  font-size:1rem;
  font-weight: bold;
}

.font-lg--b{
  font-size:1.125rem;
  font-weight: bold;
}

.font-xl--b{
  font-size:1.25rem;
  font-weight: bold;
}

.font-xxl--b{
  font-size:1.5rem;
  font-weight: bold;
}

.font-tit{
  font-size:1.725rem;
  font-weight: bold;
}

.clear::after{
  content:"";
  display: block;
  clear:both
}

.wrap_content{
	min-height: 75vh;
}



