
/* 웹폰트 */
@font-face {

    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container__add__friends {
    display: flex;
    flex-direction: column;
    width: 736px;
    height: 798px;
}

.wrapper__add__head {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 735px;
    height: 201px;

    background-color: rgba(249, 249, 249, 0.7);
    border-radius: 16px 16px 0 0;

    border-bottom: 0.5px solid rgba(151, 151, 151, 0.7);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.text__search__friends {

    margin: 47px 165px 63px 31px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 24px;
    /* identical to box height, or 38% */

    letter-spacing: 0.02em;

    color: #1C1C1E;

    z-index: 9999;
}

.wrapper__search__add {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 34px 30px;
}

.search__add {

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 480px;
    height: 36px;

    background: rgba(118, 118, 128, 0.2);
    border-radius: 10px;

    outline: none;
    border: none;
}

.btn__cancel {

    background-color: transparent;
    border: none;
    outline: none;

    width: auto;
    height: auto;
    margin: 0 21px 0 14px;

    /* Body/Regular */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.408px;
    font-feature-settings: 'case' on;

    /* Default/SystemBlue/Light */

    color: #007AFF;
}

.btn__search__fiends {

    width: 95px;
    height: 30px;

    /* Default/SystemBlue/Dark */

    background: #0A84FF;
    border-radius: 14px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;

    outline: none;
    border: none;
}

.wrapper__search__list {

    width: 736px;
    height: 100%;

    background-color: transparent;

    overflow: auto;
}