<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
</head>
<body>

<div class="container" layout:fragment="content">
<a th:href="@{|/board/list|}" style="text-decoration-line:none;"> 전체 </a>
<a th:href="@{|/board/category?category=REVIEW|}" style="text-decoration-line:none;"> 여행후기 </a>
<a th:href="@{|/board/category?category=RECOMMAND|}" style="text-decoration-line:none;"> 여행지추천 </a>
<a th:href="@{|/board/category?category=LOCALACCOMODATION|}" style="text-decoration-line:none;"> 지역주민추천 </a>
<a th:href="@{|/board/category?category=PROMOTION|}" style="text-decoration-line:none;"> 지역주민홍보 </a>
<div class="row">

	<div th:switch = ${category}>
	<span th:case="REVIEW"><h2 class="tit">* 여행후기 게시판</h2></span>
    <span th:case="RECOMMAND"><h2 class="tit">* 여행지추천 게시판</h2></span>
    <span th:case="LOCALACCOMODATION"><h2 class="tit">* 지역주민추천 게시판</h2></span>
    <span th:case="PROMOTION"><h2 class="tit">* 지역주민홍보 게시판</h2></span>
    <span th:case="*"><h2 class="tit">* 전체 게시판</h2></span>
	</div>
 
    <a href="/board/form">게시글 쓰기</a>
      

	
 	   <table style="text-align: center" border="1">
       <thead>
           <tr>
               <th style="width: 10%; height:20%;"><span>번호</span></th>
               <th style="width: 70%;"><span>제목</span></th>
               <th style="width: 10%;"><span>작성자</span></th>
               <th style="width: 10%;"><span>등록일</span></th>
           </tr>
       </thead>
       <tbody>
           <tr th:each="board, status : ${boardList}">
               <td th:text="${board.bdIdx}"></td>
               <td><a th:href="@{|/board/detail?bdIdx=${board.bdIdx}|}" th:text="${board.title}"></a></td>
               <td th:text="${board.userId}"></td>
               <td th:text="${board.regDate}"></td>
           </tr>
       </tbody>
    </table>
	</div>
	<div class="row mt-3">
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		   
		    <li class="page-item">
		      <a class="page-link" th:href="@{|/board/list?page=${paging.prevPage}&size=10&sort=title,ASC|}">Previous</a>
		    </li>
		   
	    	<li class="page-item" th:each="page : ${#numbers.sequence(paging.blockStart, paging.blockEnd)}">
	    		<a class="page-link" th:href="@{|/board/list?page=${page-1}&size=10&sort=title,ASC|}" th:text="${page}"></a>
	    	</li>
		  
		    <li class="page-item">
		      <a class="page-link" th:href="@{|/board/list?page=${paging.nextPage}&size=10&sort=title,ASC|}">Next</a>
		    </li>
		    
		  </ul>
		</nav>
	</div>
</div>

</body>
</html>