<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="main_layout">
<head>
	<link href="/css/board/board.css" rel="stylesheet">
</head>
<body>

<div class="content container" layout:fragment="content">
	<h2 class="tit">*게시판</h2>
	<div class="desc_board">
		<form th:action="@{/board/upload}" method="post" enctype="multipart/form-data">
			<div>
				<div class="tit_board">
					제목 : <input type="text" name="title" required="required"/>
					파일 : <input type="file" name="files" id="contract_file" multiple/>
					분류 : <select class="form-control" name="boardType">
							<option th:each="typeValue : ${T(multi.second.project.domain.board.domain.BoardType).values()}"
									th:value="${typeValue.name()}"
									th:text="${typeValue.getValue()}">
								val
							</option>
						</select>
				</div>
				<div class="content_board">
					<textarea name="content" required="required"></textarea>
				</div>
				<div class="btn_section">
					<button style="background-color:red; color:white; width:100%">전송</button>
				</div>
			</div>
		</form>
	</div>
</div>


</body>
</html>