
<!-- 대시보드 화면 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout">

<head>
    <title>DashBoard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/dashBoard.css" rel="stylesheet">
</head>

<body>
    <div layout:fragment="content">
        <div class="background">
            <img src="/img/dashBoard.png">
        </div>
    </div>
</body>
</html>