
<!-- 로그인 화면 -->

<!DOCTYPE html>
<!-- 메인 레이 아웃 -->
<html>

<head>

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main_layout.css"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main_layout.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>
<div class="container__common">
    <nav>
        <div class="wrapper__btn__profile">
            <button><img src="/img/btn_profile.png"></button>
        </div>
        <div class="wrapper__btn">
            <button><img src="/img/btn_dashboard.png"></button>
            <button><img src="/img/btn_message.png"></button>
            <button><img src="/img/btn_planner.png"></button>
            <button><img src="/img/btn_gallery.png"></button>
            <button><img src="/img/btn_board.png"></button>
        </div>
        <label class="toggle__switch__login">
            <span class="toggle__button"></span>
        </label>
    </nav>
    <div class="container__contents">
    </div>
</div>

</body>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/jQuery-2.1.4.min.js"></script>
<script>
    const toggleList = document.querySelectorAll(".toggle__switch__login");

    toggleList.forEach(($toggle) => {
        $toggle.onclick = () => {
            $toggle.classList.toggle('active');
        }
    });
</script>
</html>