
<!-- 메인 레이 아웃 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/main_layout.css"/>
</head>

<body>
<div class="container__common">
    <nav>
        <div>
            <button class="wrapper__btn__profile" th:onclick="|location.href='@{/profile/profile}'|">
                <img th:src="@{/profile/other-download(otherId=${#authentication.name})}" onerror="this.src='/img/user.png'">
            </button>
        </div>
        <div class="wrapper__btn">
            <button th:onclick="|location.href='@{/}'|"><img src="/img/btn_dashboard.png"></button>
            <button th:onclick="|location.href='@{/note/list}'|"><img src="/img/btn_message.png"></button>
            <button th:onclick="|location.href='@{/planner/list}'|"><img src="/img/btn_planner.png"></button>
            <button th:onclick="|location.href='@{/gallery/list}'|"><img src="/img/btn_gallery.png"></button>
            <button th:onclick="|location.href='@{/board/home}'|"><img src="/img/btn_board.png"></button>
        </div>

        <button class="toggle__switch__login" th:onclick="|location.href='@{/member/login}'|">
            <span class="toggle__button"></span>
        </button>
    </nav>

    <div layout:fragment="content" class="container__contents"></div>
</div>

</body>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/jQuery-2.1.4.min.js"></script>
<script src="/js/profile.js"></script>
<script>
    const toggleList = document.querySelectorAll(".toggle__switch__login");

    toggleList.forEach(($toggle) => {
        $toggle.onclick = () => {
            $toggle.classList.toggle('active');
            window.location.href = '/member/login';
        }
    });
</script>
</html>