<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/member/login.css" th:href="@{/css/member/login.css}"/>
</head>

<!-- 대체하고 싶은 요소에 layout:fragment 속성을 부여한다. -->
<div layout:fragment="content">
    <div class="container__login">
        <div class="txt__login">Login</div>
        <div class="txt__login__info">
            <p>
                현재 로그아웃 상태입니다<br>
                서비스 이용은 로그인 후에 가능합니다
            </p>
        </div>

        <!-- 아이디 / 비밀번호 입력 부분 -->
        <form th:action="@{/member/login}" method="post" th:object="${loginRequest}">
            <div class="wrapper__login__input">
                <div class="input__id">
                    <input style="width: 245px; height: 28px" type="text" id="userId" name="userId" placeholder="아이디 입력"/>
                    <span class="error__id" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
                </div>
                <div class="input__pw">
                    <input style="width: 245px; height: 28px" type="password" id="password" name="password" placeholder="비밀번호 입력"/>
                    <span class="error__pw" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>

            <div class="wrapper__check">
                <!-- rememberMe를 사용하기 위한 요청파라미터명의 default가 remember-me -->
                <input type="checkbox" class="check__remember__me" id="rememberMe" name="remember-me" checked>
                <span style="margin-top: 4px;">로그인 유지</span>
            </div>


            <!-- 하단 버튼 -->
            <button class="btn__login">로그인</button>
        </form>
        <button class="closeBtn" th:onclick="|location.href='@{/member/signup}'|">홈으로</button>

    </div>
</div>

