<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<style type="text/css">
		.valid_info{
			display:block; 
			color:red;
			font-size: 0.5vw;
		}
	</style>
</head>

<body>

<div class="container wrap_content" layout:fragment="content">
	<h1>회원 가입 양식</h1>
	
   <form th:action="@{/member/signup}" method="post" id="frmJoin"  th:object="${signUpRequest}">
      <table>
        <tr>
           <td>ID : </td>
           <td>
           	  <input type="text" name="userId" id="inpId" size="10" />
              <button type="button" id="btnIdCheck">check</button>
              <span class="valid_info" id="idCheck"></span>
           </td>
        </tr>
        <tr>
           <td>PASSWORD : </td>
           <td>
           	  <input type="password" name="password" id="pw" />
           	  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="pw_confirm" class="valid_info"></span>
           </td>
        </tr>
        <tr>
           <td>email : </td>
           <td>
           	  <input type="email" name="email" />
           	  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="valid_info"></span>
           </td>
        </tr>
        <tr>
           <td>
              <input type="submit" value="가입" />
              <input type="reset" value="취소" />
           </td>
       </tr>
   	</table>
   </form>

</div>

 <script type="text/javascript" layout:fragment="script">
 
	 let idCheckFlg = false;
	 
	 btnIdCheck.addEventListener("click", ev => {
	
	  let userId = inpId.value;
	  
	  if(userId){
	   
	   fetch("/member/checkId?userId=" + userId)
	   .then(response => response.json())
	   .then(obj => {
		   if(obj.exist){
			   idCheck.innerHTML = '이미 존재하는 아이디 입니다.';
			   idCheckFlg = false;
			   return;
		   }
		   
		   idCheck.innerHTML = '사용 가능한 아이디 입니다.';
		   idCheckFlg = true;
		   
	   });
	  }
	 })
	 
	 frmJoin.addEventListener('submit', ev => {
	  if(!idCheckFlg){
	   ev.preventDefault();
	   alert("아이디 중복검사에 실패했습니다.");
	   inpId.focus();   
	  }
	  
	 })
 
 </script>




</body>
</html>