
/* 웹폰트 */
@font-face {

    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {

    background: url("../../img/planner_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

body {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

::-webkit-scrollbar {

    display: none;
}

button, button:focus {

    outline: none;
    border:none;
    background-color: transparent;

    cursor: grab;
}

hr {

    border: 0.5px solid;
    color: rgba(255, 255, 255, 0.3)
}

.container__content {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    width: 500px;
    height: 500px;
    margin-bottom: 60px;

    background: rgba(255, 255, 255, 0.75);
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15)) drop-shadow(0px 25px 30px rgba(0, 0, 0, 0.35));
}


/* ==============================================================*/

/* 공통 */

.title {

    display: flex;
    justify-content: center;
    align-content: center;

    position: fixed;

    width: 500px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0px 0px;

    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 700;
    color: #1C1C1E;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    position: fixed;
    top: 30px;

    width: 500px;
    height: 470px;

    overflow-y: scroll;
}

/* 투두 */


/* ==============================================================*/

.wrapper__bar {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    width: 450px;
    height: auto;
    margin-left: 25px;

    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.wrapper__bar img {

    width: 70px;
    height: 70px;
    margin: 4px 0 4px 0;
}
