
/* 웹폰트 */
@font-face {

    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {

    display: none;
}

a  {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;


    margin: 40px 20px 20px 20px;

    font-family: 'Pretendard';
    font-size: 34px;
    font-weight: 600;
    color: #1C1C1E;

    text-decoration: none;
}

input {

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 6px;
    gap: 10px;
    margin: 7px 0 7px 20px;

    width: 295px;
    height: 28px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #1C1C1E;
}

input:focus, select:focus {

    outline: solid 2px rgba(58, 108, 217, 0.5);
}

form button {

    width: 70px;
    height: 26px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #1C1C1E;
}

button:focus {

    outline: none;
}

label {

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    color: #1C1C1E;

    margin-bottom: 20px;
    margin-left: 20px;
}

/* 체크 박스 */
#input_check {

    width: auto;
    height: 20px;
    margin-left: 22px;
}

#input_check:checked, #input_check:focus {

    outline: none;
}



/* ============================================================= */
.container__planner_list {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-start;

    width: 100%;
    height: 100%;
}

.title__planner {

    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 39px;

    background: #FFFFFF;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15), inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 0 0;

    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 600;
    color: #1C1C1E;
}

.container__head {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

    width: 100%;
    height: 350px;
    /*background-color: #0A84FF;*/
}

.planner__profile {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin: 30px;;

    width: 170px;
    height: 100%;

}

.wrapper__profile img{

    width: 170px;
    height: 170px;

    border-radius: 50%;
    background: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.recommend {

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.recommend img {

    margin-top: 15px;
    width: 85%;
    height: 85%;
}

.wrapper__planner_list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    width: 100%;
    height: 100%;
}

.wrapper__cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    margin-left: 18px;
}

.btn__add__planner , .btn__add__planner:focus {

    width: 336px;
    height: 218px;
    margin: 25px 20px 25px 20px;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
    outline: none;
    cursor: grab;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: visible;

    width: 336px;
    height: 218px;
    margin: 25px 20px 25px 20px;

    background: rgba(255, 255, 255, 0.9);
    opacity: 0.9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(24px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;

    cursor: grab;
}
/* ===================================================================*/

.container__travel__friends {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    width: auto;
    height: auto;
}

.wrapper__friends {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

    margin-left: 20px;
    margin-bottom: 20px;

    width: auto;
    height: 50px;

    background: rgba(0, 0, 0, 0.35);

    border-radius: 50px;

}

.profile img, .profile p{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow-x: auto;

    margin: 5px 5px 6px 5px;
    width: 40px;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 50%;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;

    color: white;
}

.form__title {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.wrapper__mod__btn {

    display: flex;
    flex-direction: row;
    margin-top: 10px;
}