
/* 웹폰트 */
@font-face {

    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ===================================================================*/

/* 공통 요소 */

::-webkit-scrollbar {
    display: none;
}

button {

    cursor: grab;
}

input {

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 6px;
    gap: 10px;
    margin: 7px 0 7px 20px;

    width: 260px;
    height: 28px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #1C1C1E;
}

input:focus, select:focus {

    outline: solid 2px rgba(58, 108, 217, 0.5);
}

input[type="datetime-local"] {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 6px;
    margin: 7px 0 7px 20px;

    width: 260px;
    height: auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #1C1C1E;
}

select {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 6px;
    margin: 7px 0 7px 20px;

    width: 260px;
    height: auto;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #1C1C1E;
}

.wrapper__date__box button, #addDate button, .member__search button{

    width: 70px;
    height: 28px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #1C1C1E;
}

button:focus {

    outline: none;
}

label {

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;

    color: #1C1C1E;

    margin-bottom: 20px;
    margin-left: 20px;
}

/* 체크 박스 */
.check__box {

    width: auto;
    height: auto;
    margin-left: 22px;
}

.check__box:checked, .check__box:focus {

    outline: none;
}


/* 플래너 리스트 타이틀 */
.planner__list__title {

    text-align: center;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #1C1C1E;

}

/* 투두 타이틀 */
.planner__todo__title {

    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #1C1C1E;
}

/* 투두 내용 */
.todo__txt {

    margin-bottom: 5px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    white-space: normal;

    color: #1C1C1E;
}

/* ===================================================================*/

.container__planner {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;

    width: 100%;
    height: 100%;
}

.wrapper__title {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    width: 1169px;
    height: 39px;

    background: #FFFFFF;
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), inset 0 -0.5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0 16px 0 0;
}

.txt__title {

    margin-top: 6px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #1C1C1E;
}

.container__menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    padding-top: 20px;

    width: 1169px;
    height: 80px;
}

.wrapper__friends {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-left: 21px;
    width: auto;
    height: 73px;

    background: rgba(0, 0, 0, 0.35);

    border-radius: 50px;

}

.profile p, .profile form {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow-x: auto;

    margin: 7px 7px 6px 7px;
    width: 60px;
    height: 60px;

    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 50%;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;

    color: white;

}

.profile button {

    padding: 0;

    display: flex;
    align-content: center;
    justify-content: center;

    width: 60px;
    height: 60px;
}

.profile__btn {

    margin: 7px 7px 6px 7px;
    width: 57px;
    height: 57px;

    background: rgba(0, 0, 0, 0.05);
    border: 0.5px dashed #303030;
    border-radius: 50%;
}

.wrapper__menu {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-right: 22px;

    width: auto;
    height: 73px;

    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.wrapper__menu img {

    width: 70px;
    height: 70px;
}

.container__plan {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    width: 1169px;
    height: 710px;
/*
    background-color: green;*/
}

.wrapper__plan {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    margin-top: 18px;
    width: 1126px;
    height: 665px;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
}

.wrapper__money {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    position: fixed;

    width: 359px;
    height: 665px;
}

.money__title {

    display: flex;
    justify-content: center;
    align-content: center;

    width: 290px;
    height: 57px;
    margin: 26px 0 27px 33px;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;

    color: #1C1C1E;
}

.txt__money__title {

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

.wrapper__summary{

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    margin: 0 0 28px 33px;
    width: 290px;
    height: 527px;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

.wrapper__summary img {

    margin: 40px 0 0 20px;
    width: 85%;
    height: auto;
}


/* ============================================================ */

/* 계획 부분 */

.container__kanban {

    display: flex;

    flex-flow: nowrap;
    overflow: auto;

    position: fixed;

    left: 503px;

    width: 767px;
    height: 665px;

/*    background-color: blue;*/
}

.wrapper__planner__list {

    display: flex;
    flex-direction: row;

    flex-shrink: 0;
}

.wrapper__date__box {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 330px;
    height: 100%;

    overflow-y: scroll;
/*    background-color: orange;*/
}

#date, .date {

    width: 300px;
    height: auto;
    margin: 26px 0 20px 13px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

#addDate, .open {

    display: flex;
    flex-direction: row;
    width: 300px;
    height: 57px;
    margin: 0 0 20px 13px;

    background: rgba(255, 255, 255, 0.2);
    border: 0.5px dashed #676767;
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

#addDate:focus, #addCard:focus .open:focus{

    border: solid 3.5px rgba(58, 108, 217, 0.5);
    outline: solid 3.5px rgba(58, 108, 217, 0.5);

!important;
}

#card, .card, .add__card{

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0 0 20px 13px;

    width: 300px;
    height: auto;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;

}

.costPerDay {

    width: 300px;
    height: 57px;
    margin: 0 0 20px 13px;

    background: #007AFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}


/* ===================================================================*/

/* 카드 추가 버튼 */

.wrapper__bar {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.wrapper__bar img {

    width: 50px;
    height: 50px;
    margin: 15px 5px 15px 5px;
}

/* ===================================================================*/

/* 채팅 */

/* 모달 */
.wrapper__chat, .container__calendar, .container__member, .container__trip, .container__help {

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    margin: 26px 0 28px 20px;
    width: 320px;
    height: 611px;

    overflow-y: scroll;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

.chat__title, .calendar__title, .member__title, .trip__title, .help__title{

    margin: 20px 0 30px 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;

    color: #1C1C1E;
}

.wrapper__message {

    display: flex;
    flex-direction: column;

    width: 320px;
    height: 436px;

/*    background-color: #1A71CC;*/
}

.chat {

    display: flex;
    flex-direction: column;

    width: 320px;
    height: 350px;

    overflow-y: scroll;

/*    background-color: orange;*/
}

.wrapper__chat__me {

    /* Bubble + Tail */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    isolation: isolate;

    width: 180px;
    height: auto;

    margin-left: 140px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.chat__me {

    /* Bubble */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 12px;

    width: 180px;
    height: auto;

    white-space: normal;

    overflow: scroll;

    background: #448AF7;
    border-radius: 18px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    z-index: 0;


    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: white;
}

.chat__me__tail {

    /* Tail */


    /* Auto layout */

    position: relative;
    right: 14px;
    top: 2px;

    width: 16.42px;
    height: 20.32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.me__id {

    margin: 10px 20px 5px 105px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #1E1E1C;
}

.wrapper__chat__other {

    /* Bubble + Tail */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    isolation: isolate;

    width: 180px;
    height: auto;

    margin-left: 60px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.chat__other {

    /* Bubble */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 12px;

    width: 180px;
    height: auto;

    white-space: normal;

    overflow: scroll;

    background: #E9E9EB;
    border-radius: 18px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    z-index: 0;


    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #1E1E1C;
}

.chat__other__tail {

    /* Tail */


    /* Auto layout */

    position: relative;
    right: 207px;
    top: 2px;

    width: 16.42px;
    height: 20.32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.other__id {

    margin: 10px 20px 5px 23px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #1E1E1C;
}

.wrapper__message__input {

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    position: fixed;
    top: 550px;

    margin-left: 15px;
    margin-bottom: 20px;

    width: 90%;
    height: 40px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #1C1C1E;
}


/* 여행 */

.wrapper__trip {

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: #1C1C1E;
}

/* 캘린더 */
/* section calendar */

.wrapper__calendar {

    margin-bottom: 20px;
}
.sec_cal {

    width: 270px;
    margin: 0 auto;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;

    color: #1C1C1E;
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 0.5px solid #000;
    border-width: 1px 1px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #1E1E1C;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 20px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-top: 10px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 40px;

}

.sec_cal .cal_wrap::after {
    top: 368px;

}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #1E1E1C;
    font-size: 20px;
    text-align: center;
    border-radius:5px
}

.current.today {
    background: lightgray;}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

/* 멤버 / 여행 */

.wrapper__member, .wrapper__trip {

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 456px;

}

/* 도움말 */

.wrapper__help {

    margin: 0 20px 0 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 22px;

    color: #1C1C1E;
}

/* 멤버 추가 */

.member__search {

    display: flex;
    flex-direction: row;
}

.user__list {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0px 20px 0px 20px;
    padding: 15px 10px 15px 10px;

    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;

    border-bottom: 1px solid gray;

    color: #1C1C1E;
}