<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/member/login.css" th:href="@{/css/member/login.css}"/>
</head>

<!-- 대체하고 싶은 요소에 layout:fragment 속성을 부여한다. -->
<div layout:fragment="content">
    <div class="wrapper__login">
        <div class="txt__login">Login</div>
        <div class="txt__login__info">
            <p>
                현재 로그아웃 상태입니다<br>
                서비스 이용은 로그인 후에 가능합니다
            </p>
        </div>

        <!-- 아이디 / 비밀번호 입력 부분 -->
        <div class="wrapper__login__input">
            <div class="input__id">
                <input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요"/>
            </div>

            <div class="input__pw">
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요"/>
            </div>
        </div>

        <!-- 하단 버튼 -->
        <div class="wrapper__login__btn">
            <button class="btn__login">로그인</button>
            <button id="closeBtn" th:onclick="|location.href='@{/}'|">홈으로</button>
        </div>


    </div>
</div>