
<!-- 메인 레이 아웃 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/profile_layout.css" th:href="@{/css/profile_layout.css}"/>
</head>

<body>
    <div class="container__common">
        <nav class="wrapper__nav">
            <div class="wrapper__button__profile">
                <button><img class="button__profile" th:src="@{/img/btn_profile.png}"></button>
            </div>
            <div class="wrapper__button">
                <button><img th:src="@{/img/btn_dashboard.png}"></button>
                <button><img th:src="@{/img/btn_message.png}"></button>
                <button><img th:src="@{/img/btn_planner.png}"></button>
                <button><img th:src="@{/img/btn_gallery.png}"></button>
                <button><img th:src="@{/img/btn_board.png}"></button>
            </div>
            <label class="toggleSwitch">
                <span class="toggleButton"></span>
            </label>
        </nav>
        <div class="container__contents" layout:fragment="content">
            <div class="wrapper__profile">
                <div class="wrapper__button__profile" style="width: 200px; height: 200px;">
                    <button><img class="button__profile" th:src="@{/img/btn_profile.png}"></button>
                </div>
                <div>
                    <button class="button__modify">수정</button>
                </div>
                <div class="container__profile">
                    <div class="txt__welcome">님 안녕하세요</div>

                    <!-- 클릭 하면 유저 사진 바꿀수 있는 팝업창 생성 -->
                    <button class="wrapper__user__pic" onclick="window.open('/login', 'window_name', 'width=430, height=500, location=no, status=no, scrollbars=yes');"></button>

                    <!-- 랭크 부분은 나중에 다같이 상의 -->
                    <div class="wrapper__lank">
                        <div class="user__lank">새싹 여행자</div>
                    </div>

                    <!-- 클래스 이름을 알맞게 수정 해서 쓰면 됩니다 . id 를 쓰셔도 좋아요 -->
                    <div class="wrapper__profile__btn">
                        <button class="btn__travel1">님의 여행 일정</button>
                        <button class="btn__travel2">님의 이전 여행</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/jQuery-2.1.4.min.js"></script>
<script>
    const toggleList = document.querySelectorAll(".toggleSwitch");

    toggleList.forEach(($toggle) => {
        $toggle.onclick = () => {
            $toggle.classList.toggle('active');
        }
    });
</script>
</html>