
<!-- 프로필 화면 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout">

<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/profile/profile.css" th:href="@{/css/profile/profile.css}"/>
</head>

<body>
<!-- 정말 위치와 CSS 만 입혀 놨으니, 만들어 놓으신 파일 들을 보면서 수정해주세요 -->
<div class="container__contents" layout:fragment="content">
    <div class="container">
        <div class="popup-wrap" id="popup">
            <div class="popup">

                <div class="popup-head">
                    <span class="head-title">프로필 변경</span>
                </div>
                <form method="post" th:action="@{/profile/saveImg}" enctype="multipart/form-data">
                
                
                <div class="popup-body">
                    <div class="body-content">
                        <div class="body-titlebox">
                            사진 업로드
                        </div>
                        <div class="body-contentbox">
                            <div class="file-container">
                                <div class="image-upload" id="image-upload">

                                    
                                        <!--                                        <div class="button">-->
                                        <!--                                            <label for="chooseFile">-->
                                        <!--                                                사진찾기-->
                                        <!--                                            </label>-->
                                        <!--                                        </div>-->



                                        <div class="fileContainer">
                                            <div class="fileInput">
                                                <p id="fileName"></p>
                                            </div>
                                            <div class="buttonContainer">
                                                <div class="submitButton" id="submitButton">
                                                    <label for="chooseFile">
                                                        사진찾기
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
                                   
                                </div>

                                <!--                                <div class="image-show" id="image-show"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_section">
					<button id="confirm"><span>전송</span></button>
                    <button id="close"><span>창 닫기</span></button>
				</div>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper__profile">
        <!--        <div class="wrapper__button__profile" style="width: 200px; height: 200px;">-->
        <!--            <button><img class="button__profile" th:src="@{/img/btn_profile.png}"></button>-->
        <!--        </div>-->
        

        <div class="container__profile">
            <div class="txt__welcome" th:if="${profile.member.userId} == ${#authentication.name}">
                [[${profile.member.userId}]] 님 안녕하세요!
            </div>
            <div class="txt__welcome" th:unless="${profile.member.userId} == ${#authentication.name}">
                [[${profile.member.userId}]] 님의 프로필
            </div>

            <!-- 클릭 하면 유저 사진 바꿀수 있는 팝업창 생성 -->
            <div th:if="${profile.member.userId} == ${#authentication.name}">
                <button id="image-show" class="wrapper__user__pic" onclick="modalOpen();">
                    <img id="newImage" th:src="@{/profile/download(pfIdx=${profile.pfIdx})}">
                </button>
            </div>
            <div th:unless="${profile.member.userId} == ${#authentication.name}">
                <button id="image-show" class="wrapper__user__pic" onclick="modalOpen();" disabled>
                    <img id="newImage" th:src="@{/profile/download(pfIdx=${profile.pfIdx})}">
                </button>
            </div>
            
            <!--            <div>-->
            <!--                <button class="button__modify">수정</button>-->
            <!--            </div>-->
            <!-- 랭크 부분은 나중에 다같이 상의 -->
            <div class="wrapper__lank">
                <div class="user__lank">새싹 여행자</div>
            </div>

            <!-- 클래스 이름을 알맞게 수정 해서 쓰면 됩니다 . id 를 쓰셔도 좋아요 -->
            <div class="wrapper__profile__btn">
            
             	<form th:action="@{/planner/other-list}" method="get">
             		<input type="hidden" th:value="${profile.member.userId}" name="profileId"/>
	 				<button class="btn__travel1"><span>[[${profile.member.userId}]] 님의 여행 일정</span></button>
 				</form>
 				
 				<form th:action="@{/gallery/other-gallery}" method="get">
             		<input type="hidden" th:value="${profile.member.userId}" name="profileId"/>
                	<button class="btn__travel2">[[${profile.member.userId}]] 님의 갤러리</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/jQuery-2.1.4.min.js"></script>

<script>

</script>