
<!-- 메인 레이 아웃 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/css/profile_layout.css" th:href="@{/css/profile_layout.css}"/>
</head>

<body>
<div class="container__common">
    <nav class="wrapper__nav">
        <div class="wrapper__button__profile">
            <button><img class="button__profile" th:src="@{/img/button__profile.png}"></button>
        </div>
        <div class="wrapper__button">
            <button><img th:src="@{/img/button__dashboard.png}"></button>
            <button><img th:src="@{/img/button__friends.png}"></button>
            <button><img th:src="@{/img/button__planner.png}"></button>
            <button><img th:src="@{/img/button__gallery.png}"></button>
            <button><img th:src="@{/img/button__board.png}"></button>
        </div>
        <label class="toggleSwitch">
            <span class="toggleButton"></span>
        </label>
    </nav>
    <div class="container__contents" layout:fragment="content">
        <div class="wrapper__profile">
            <div class="wrapper__button__profile" style="width: 200px; height: 200px;">
                <button><img class="button__profile" th:src="@{/img/button__profile.png}"></button>
            </div>
            <div>
                <button class="button__modify">수정</button>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    const toggleList = document.querySelectorAll(".toggleSwitch");

    toggleList.forEach(($toggle) => {
        $toggle.onclick = () => {
            $toggle.classList.toggle('active');
        }
    });
</script>
</html>