<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="main_layout">

<head>
	<title>Gallery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/gallery/common.css" th:href="@{/css/gallery/common.css}"/>
</head>

<body>
<!-- 대체하고 싶은 요소에 layout:fragment 속성을 부여한다. -->
<div layout:fragment="content">
	<div class="container__gallery__contents">
		<div class="wrapper__notification">
			<div class="wrapper__notification__head">
				<div class="txt__notification">Notification</div>
			</div>

			<!-- 알람 리스트 -->
			<div class="wrapper__list">
				<img style="width: 90%; height: 80%; margin: 20px 0 0 15px" src="/img/notification.png">
			</div>
		</div>
		<div class="txt__Bookmark">즐겨찾기</div>
		<div class="wrapper__bookmark">
			<!-- 즐겨 찾기 리스트 -->
		</div>
		<div class="txt__advertise">광고</div>
		<div class="wrapper__advertise">
			<a href="https://triple.guide/" id="Ad1">
				<img style="width: 100%; height: 100%; border-radius: 10px" src="/img/ad1.png">
			</a>
			<a href="https://www.skyscanner.co.kr/" id="Ad2">
				<img style="width: 100%; height: 100%; border-radius: 10px" src="/img/ad2.png">
			</a>
			<a href="https://yanolja.in/" id="Ad3">
				<img style="width: 100%; height: 100%; border-radius: 10px" src="/img/ad3.png">
			</a>
		</div>
	</div>

	<div class="wrapper__gallery">
		<div class="wrapper__gallery__head">
			<div class="user__profile__pic">
				<img th:src="@{/profile/other-download(otherId=${user})}" onerror="this.src='/img/user.png'">
			</div>
		</div>
		<div layout:fragment="gallery__content"></div>
	</div>
</div>
</body>
</html>