
<!-- 사진 상세보기 화면 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{gallery/common}">

<head>
    <title>Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/gallery/detail.css" th:href="@{/css/gallery/detail.css}"/>
</head>

<body>
<!-- 대체하고 싶은 요소에 layout:fragment 속성을 부여한다. -->
<div layout:fragment="gallery__content">
    <div style="width: 785px; height: 662px;">
        <div class="container__gallery">

            <div class="previous__page" th:if="${user} == ${#authentication.name}">
                <button class="btn_prev" onclick="location.href='/gallery/list'" style="margin-left: 10px">뒤로가기</button>
            </div>
            <div class="previous__page" th:unless="${user} == ${#authentication.name}">
            <form th:action="@{/gallery/other-gallery}" method="get">
            	<input type="hidden" th:value="${user}" name="profileId"/>
                <button class="btn_prev" style="margin-left: 10px">뒤로가기</button>
            </form>
            </div>

            <div class="txt_head">[[${gallery.title}]]</div>

            <div class="wrapper">
                <div class="txt_day">[[${gallery.regDateAsDate}]]</div>
                <hr sec:authorize="isAuthenticated()" th:if="${gallery.userId eq #authentication.name}">
                <div class="wrapper__detail__btn" sec:authorize="isAuthenticated()" th:if="${gallery.userId eq #authentication.name}">
                    <form action="/gallery/modify" method="get">
                        <input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/>
                        <button class="btn__blue"><span>수정</span></button>
                    </form>

                    <form th:action="@{/gallery/remove}" method="post" >
                        <input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/>
                        <button class="btn__white"><span>삭제</span></button>
                    </form>
                </div>
            </div>

            <div class="container__post__contents">
                <div class="wrapper__photo">
                    <div>
                        <div th:each="file : ${gallery.filePathDtos}">
                            <img class="photo" th:src="@{/gallery/download(fpIdx=${file.fpIdx})}">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="wrapper__post">
                    <div class="post">
                        <p>[[${gallery.content}]]</p>
                    </div>
                </div>
            </div>

            <div>
                <hr>
            </div>

            <div>
                <!-- 좋아요 기능 (예정), 댓글기능 추가 -->
                <th:block sec:authorize="isAuthenticated()">
                    <form th:action="@{/comment/upload}" method="post" class="container__comment">
                        <div class="profile">
                            <img style="width: 70px; height: 70px; border-radius: 50%" th:src="@{/profile/download(pfIdx=${profile?.pfIdx})}">
                        </div>

                        <div class="wrapper__comment" style="margin: 13px 150px 0 20px;">
                            <input type="text" id="context" name="context" required="required">
                            <input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/>
                        </div>
                        <div>
                            <button class="btn__comment__blue">게시</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <div>
                <hr>
            </div>

            <div>
                <div th:each="comment : ${gallery.commentResponses}">

                    <div class="container__comment" style="margin-top: 15px">
                        <div class="profile">
                            <div th:if="${comment.userId eq #authentication.name}">
                                <img style="width: 70px; height: 70px; border-radius: 50%" th:src="@{/profile/download(pfIdx=${profile?.pfIdx})}">
                            </div>
                            <div th:unless="${comment.userId eq #authentication.name}">
                                <img style="width: 70px; height: 70px; border-radius: 50%" th:src="@{/profile/other-download(otherId=${comment.userId})}">
                            </div>
                        </div>

                        <!-- 댓글 겸 댓글 수정창 나오는 버튼 -->
                        <div class="txt__comment" th:onclick="popModify([[${comment.context}]])">
                            <div style="font-size: 20px; font-weight: 700; margin: 5px 20px 0 20px;">[[${comment.userId}]]</div>
                            <div style="font-size: 24px; font-weight: 400; margin: 0 20px 0 20px;">[[${comment.context}]]</div>
                        </div>

                        <form th:action="@{/comment/remove}" method="post" >
                            <input type="hidden" th:value="${comment.cmIdx}" name="cmIdx"/>
                            <input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/>
                            <div th:if="${comment.userId eq #authentication.name}">
                            	<button class="btn__comment__white" id="btnDel" style="margin: 20px 24px 0 0;">삭제</button>
                            </div>
                            <div th:unless="${comment.userId eq #authentication.name}">
                            </div>
                        </form>
                    </div>

                    <!-- 보여야 하는 div -->
                    <div sec:authorize="isAuthenticated()" th:if="${comment.userId eq #authentication.name}" id="modify" style="width: 520px; height: 20px; margin: 20px 0 50px 120px; display: none" class="container__comment__hidden" th:id="'input' + ${comment.context}">
                        <form th:action="@{/comment/modify}" method="post"  class="wrapper__comment__hidden" id="context">
                            <div>
                                <input type="text" class="input__modify__comment" name="context" placeholder="댓글 수정" required="required">
                                <input type="hidden" th:value="${comment.cmIdx}" name="cmIdx"/>
                                <input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/>
                            </div>
                            <div>
                                <button><img style="width: 22px; height: 22px; margin: 0 5px 5px 0" src="/img/btn_send_message.png"></button>
                            </div>
                            <div><button class="btn__comment__white" id="hideBtn" style="margin-left: 15px" th:onclick="closeModify([[${comment.context}]])">닫기</button></div>
                        </form>
                    </div>

                    <div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">

        function popModify(str) {

            document.getElementById('input' + str).style.display = "block";
        }

        function closeModify(str) {

            document.getElementById('input' + str).style.display = "none";
        }
    </script>
</div>

</body>

</html>