<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
</head>
<body>

<div class="content container" layout:fragment="content">
	<h2 class="tit">*게시판</h2>
	<div class="desc_board">
		<form th:action="@{/gallery/upload}" method="post" enctype="multipart/form-data">
			<div>
				<div class="tit_board">
					제목 : <input type="text" name="title" required="required"/>
					파일 : <input type="file" name="files" id="contract_file" multiple/>
				</div>
				<div class="content_board">
					<textarea name="content" required="required"></textarea>
				</div>
				<div class="btn_section">
					<button style="background-color:red; color:white; width:100%">전송</button>
				</div>
			</div>
		</form>
	</div>
</div>


</body>
</html>


<!-- enctype="multipart/form-data"은 HTML <form> 요소의 속성 중 하나로,
폼 데이터가 여러 부분으로 나누어져 있는 경우에 사용됩니다. 보통 파일 업로드와 관련이 있습니다.

enctype="multipart/form-data"를 사용하면 폼 데이터가 HTTP 요청 바디의 여러 부분에 나누어져 전송되며,
각 부분은 일반적으로 파일 업로드와 관련된 데이터를 포함합니다. 이에 따라 파일 업로드를 지원하는 서버 측 언어에서는,
해당 요청에서 파일 데이터를 추출할 수 있는 방법을 제공해야 합니다.

반면에 enctype="application/x-www-form-urlencoded"는 폼 데이터를 URL 인코딩하여 전송하는 방식입니다.
이 방식은 폼 데이터가 텍스트 데이터만을 포함하고 있는 경우 사용됩니다. 일반적으로 HTML 폼 요소의 기본 전송 방식이며,
파일 업로드를 지원하지 않습니다.-->