<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
</head>
<body>

<div class="content container" layout:fragment="content">   
    <h2 class="tit">*게시판</h2>
    <div class="desc_board">
      <div class="info" >
          <span >번호 : [[${gallery.postIdx}]]</span>
          <span>제목 : [[${gallery.title}]]</span>
          <span>등록일 : [[${gallery.regDateAsDate}]]</span>
          <span>작성자 : [[${gallery.userId}]]</span>
      </div>
      <div class="info file_info">
      	<ol>
      		<li th:each="file : ${gallery.filePathDtos}">  
      	 		<a th:href="@{/gallery/download(fpIdx=${file.fpIdx})}" th:text="${file.originFileName}"></a> 
      	 	</li>	     
      	</ol>
      </div>
      <div class="article_content">
      	<pre>[[${gallery.content}]]</pre>
      </div>
      <div class="btn_section">
      
          <button onclick="location.href='/gallery/list'"><span>목록</span></button>
          
          
          <th:block th:if="${session.auth ne null and gallery.userId eq session.auth.userId}">
	          <form th:action="@{/gallery/remove}" method="post" >
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button id="btnDel"><span>삭제</span></button>
	          </form>
	          <form action="/gallery/modify" method="get">
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button id="btnModify"><span>수정</span></button>
	          </form>	
          </th:block>

          
      </div>
      
      <th:block th:if="${session.auth ne null and gallery.userId eq session.auth.userId}">
	          <form th:action="@{/comment/upload}" method="post" >
	          	<input type="text" id="context" name="context" required="required">
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button><span>댓글 등록</span></button>
	          </form>
          </th:block>
      
      
      
      <div>
      	<ol>
      		<li th:each="comment : ${gallery.commentResponses}">  
      	 		<p th:text="${comment.context}">
      	 		<!--<form th:action="@{/comment/modify}" method="post" >
	          	<input type="text" id="context" name="context" required="required">
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button><span>수정</span></button>-->
	          </form>
      	 	</li>	     
      	</ol>
      </div>
      
   </div>
</div>



</body>
</html>