
<!-- 사진 리스트 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{gallery/common}">

<head>
    <title>Gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/gallery/list.css" th:href="@{/css/gallery/list.css}"/>
</head>

<body>
<!-- 대체하고 싶은 요소에 layout:fragment 속성을 부여한다. -->
<div layout:fragment="gallery__content">
    <div class="wrapper__button" th:if="${user} == ${#authentication.name}" >
        <button th:onclick="|location.href='@{/gallery/add}'|" class="btn__blue">글쓰기</button>
    </div>
    <div class="wrapper__button" th:unless="${user} == ${#authentication.name}" >
        <button th:onclick="|location.href='@{/gallery/add}'|" class="btn__blue" style="display: none">글쓰기</button>
    </div>
    <div class="wrapper__photo__list">
        <div class="photo__list">
            <!-- 사진 목록들 입니다 -->
            <span th:each="gallery, status : ${galleryList}">
                <a th:href="@{|/gallery/detail?postIdx=${gallery.postIdx}|}">
                    <img class="image" th:src="@{/gallery/download(fpIdx=${gallery.thumb})}">
                </a>
            </span>
        </div>
    </div>
</div>
</body>
</html>