
<!-- 카드 추가 공통 레이 아웃 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>addCard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/planner/addCard.css"/>
</head>

<body>
    <div class="wrapper__btn" th:fragment="content">

        <!-- 버튼 별 내용 들어오는 곳 -->
        <div class="container__content">

            <!-- 투두 리스트 -->
            <div id="containerTodo">

                <!-- 타이틀 -->
                <div class="title">
                    <div style="margin-top: 5px">Todo</div>
                </div>

                <!-- 내용 (스크롤 테스트 완)-->
                <div class="container">

                    <!-- 타이틀 -->
                    <input type="text" placeholder="제목을 입력해주세요">

                    <!-- 날짜 -->
                    <input type="datetime-local">

                    <!-- 지도 추가 부분 -->

                    <!-- 내용 -->
                    <textarea placeholder="내용을 입력해주세요"></textarea>

                    <input type="submit" value="전송">
                </div>
            </div>

            <!-- 교통-->
            <div id="containerTransport">

                <!-- 타이틀 -->
                <div class="title">
                    <div style="margin-top: 5px">교통</div>
                </div>

                <!-- 내용 (스크롤 테스트 완)-->
                <div class="container">

                    <!-- 타이틀 -->
                    <input type="text" placeholder="제목을 입력해주세요">

                    <!-- 대중교통 선택 -->
                    <label for="transport-select">교통편 선택</label>
                    <select name="transports" id="transport-select">
                        <option>버스</option>
                        <option>지하철</option>
                        <option>고속철도</option>
                        <option>기차</option>
                        <option>택시</option>
                        <option>배</option>
                        <option>항공</option>
                    </select>

                    <!-- 날짜 -->
                    <input type="datetime-local">


                    <!-- 내용 -->
                    <textarea placeholder="내용을 입력해주세요"></textarea>

                    <input type="submit" value="전송">
                </div>


            </div>

            <!-- 숙박-->
            <div id="containerAccommodation">

                <!-- 타이틀 -->
                <div class="title">
                    <div style="margin-top: 5px">숙박</div>
                </div>

                <!-- 내용 (스크롤 테스트 완)-->
                <div class="container">

                    <!-- 타이틀 -->
                    <input type="text" placeholder="제목을 입력해주세요">

                    <!-- 날짜 -->
                    <input type="datetime-local">

                    <!-- 지도 추가 부분 -->

                    <!-- 내용 -->
                    <textarea placeholder="내용을 입력해주세요"></textarea>

                    <input type="submit" value="전송">
                </div>
            </div>

            <!-- 관광지-->
            <div id="containerMap">

                <!-- 타이틀 -->
                <div class="title">
                    <div style="margin-top: 5px">관광지</div>
                </div>

                <!-- 내용 (스크롤 테스트 완)-->
                <div class="container">

                    <!-- 타이틀 -->
                    <input type="text" placeholder="제목을 입력해주세요">

                    <!-- 날짜 -->
                    <input type="datetime-local">

                    <!-- 관광지 추가 부분 -->
                    <!-- 지도 추가 부분 -->

                    <!-- 내용 -->
                    <textarea placeholder="내용을 입력해주세요"></textarea>

                    <input type="submit" value="전송">
                </div>
            </div>

            <!-- 예산 -->
            <div id="containerBudget">

                <!-- 타이틀 -->
                <div class="title">
                    <div style="margin-top: 5px">예산</div>
                </div>

                <!-- 내용 (스크롤 테스트 완)-->
                <div class="container">

                    <!-- 타이틀 -->
                    <input type="text" placeholder="제목을 입력해주세요">

                    <!-- 날짜 -->
                    <input type="datetime-local">

                    <!-- 선택란 -->
                    <label for="budget-select">지출 종류</label>
                    <select name="budgets" id="budget-select">
                        <option>식사</option>
                        <option>간식</option>
                        <option>쇼핑</option>
                        <option>기념품</option>
                        <option>입장료</option>
                        <option>문화</option>
                        <option>팁</option>
                    </select>

                    <!-- 금액 -->
                    <input type="text" placeholder="금액을 입력하세요">

                    <!-- 지도 추가 부분 -->

                    <!-- 내용 -->
                    <textarea placeholder="내용을 입력해주세요"></textarea>
                    <input type="submit" value="전송">
                </div>
            </div>
        </div>

        <!-- 독바 -->
        <div class="wrapper__bar">
            <button onclick="showAddTodo()" style="margin-left: 4px">
                <img src="/img/btn_todo.png">
            </button>
            <button onclick="showAddTransport()">
                <img src="/img/btn_transport.png">
            </button>

            <hr>

            <button onclick="showAddAccommodation()">
                <img src="/img/btn_accommodation.png">
            </button>
            <button onclick="showAddMap()">
                <img src="/img/img_maps.png">
            </button>
            <button onclick="showAddBudget()">
                <img src="/img/btn_calculator.png">
            </button>
        </div>


        <script th:fragment="content" type="text/javascript">

            document.getElementById("containerTodo").style.display="none";
            document.getElementById("containerMap").style.display="none";
            document.getElementById("containerBudget").style.display="none";
            document.getElementById("containerAccommodation").style.display="none";
            document.getElementById("containerTransport").style.display="none";


            // 투두
            function showAddTodo() {

                document.getElementById("containerTodo").style.display="";
                document.getElementById("containerMap").style.display="none";
                document.getElementById("containerBudget").style.display="none";
                document.getElementById("containerAccommodation").style.display="none";
                document.getElementById("containerTransport").style.display="none";
            }

            // 지도
            function showAddMap() {

                document.getElementById("containerMap").style.display="";
                document.getElementById("containerTodo").style.display="none";
                document.getElementById("containerBudget").style.display="none";
                document.getElementById("containerAccommodation").style.display="none";
                document.getElementById("containerTransport").style.display="none";
            }

            // 예산
            function showAddBudget() {

                document.getElementById("containerBudget").style.display="";
                document.getElementById("containerTodo").style.display="none";
                document.getElementById("containerMap").style.display="none";
                document.getElementById("containerAccommodation").style.display="none";
                document.getElementById("containerTransport").style.display="none";
            }

            // 숙박
            function showAddAccommodation() {

                document.getElementById("containerAccommodation").style.display="";
                document.getElementById("containerTodo").style.display="none";
                document.getElementById("containerMap").style.display="none";
                document.getElementById("containerBudget").style.display="none";
                document.getElementById("containerTransport").style.display="none";
            }

            // 교통
            function showAddTransport() {

                document.getElementById("containerTransport").style.display="";
                document.getElementById("containerTodo").style.display="none";
                document.getElementById("containerMap").style.display="none";
                document.getElementById("containerBudget").style.display="none";
                document.getElementById("containerAccommodation").style.display="none";
            }

            // 토글
            const toggleList = document.querySelectorAll(".toggle__switch__planner");

            toggleList.forEach(($toggle) => {
                $toggle.onclick = () => {
                    $toggle.classList.toggle('active');
                }
            });

        </script>
    </div>
</body>

</html>