
<!-- 플래너 추가 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/planner/addPlanner.css"/>
</head>

<body>
    <div class="container__add__planner">

        <div class="title__add__planner">
            <div style="margin-top: 4px">여행계획을 추가해주세요</div>
        </div>

        <div class="wrapper__input">
            <div>
                <input type="text" placeholder="제목을 입력해주세요">
            </div>

            <div>
                <button>전송</button>
            </div>

        </div>
    </div>
</body>