
<!-- 플래너 리스트 부분 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout">

<head>
    <title>PlannerList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../static/css/planner/plannerList.css" th:href="@{/css/planner/plannerList.css}"/>
</head>

<body>
    <div layout:fragment="content">
        <div class="container__planner_list">
            <div class="title__planner">
                <div style="margin: 6px 0 6px 0">[[${user}]] 님의 여행 기록</div>
            </div>

            <!-- 플래너 상단부분 -->
            <div class="container__head">
                <!-- 프로필 -->
                <div class="planner__profile">
                    <div class="wrapper__profile">
                        <img th:src="@{/profile/other-download(otherId=${user})}" onerror="this.src='/img/user.png'">
                    </div>
                </div>

                <!-- 추천 여행지 -->
                <div class="recommend">
                    <img src="/img/plannerListHead.png">
                </div>
            </div>

            <!-- 플래너 리스트 부분 -->
            <div style="overflow-y: scroll;" class="wrapper__planner_list">

                <!-- 플래너 리스트 받아오는 반복문 -->
                <div class="wrapper__cards">

                    <!-- 카드 클릭 시, 세부내용 화면으로 이동 처리 해야함 -->
                    <div th:each="planner, status : ${plannerList}" class="card" id="card" th:onclick="popUpModify([[${planner.tpIdx}]])">

                        <!-- 플래너 제목 -->
                        <div class="card__title">
                            <a th:href="@{|/planner/detail?tpIdx=${planner.tpIdx}|}" th:text="${planner.title}"></a>
                        </div>

                        <div class="container__travel__friends">
                            <!-- 같이 여행하는 사람들 리스트 -->
                            <div th:id=memberGroup class="wrapper__friends">
                                <div th:each="group : ${planner.travelGroup.getParticipants}" class="profile">

                                    <div th:if="${profile.member.getUserId()} == ${group.member.getUserId()}">
                                        <img th:src="@{/profile/download(pfIdx=${profile.pfIdx})}" onerror="this.src='/img/user.png'">
                                    </div>

                                    <div th:unless="${profile.member.getUserId()} == ${group.member.getUserId()}">
                                        <img th:src="@{/profile/other-download(otherId=${group.member.getUserId()})}" onerror="this.src='/img/user.png'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 수정 -->
                        <div class="wrapper__modify" style="display: none" th:id="${planner.tpIdx}">

                            <!-- 공개 여부를 결정하는 체크박스 -->
                            <form th:action="@{/planner/modify-private}" method="post" >
                                <input type="hidden" th:value="${planner.tpIdx}" name="tpIdx"/>
                                <input type="checkbox" name="isPrivate" value='1' id="input_check"/>
                                <label for="input_check">비공개를 원하면 클릭해주세요</label>
                                <input type="hidden" name="isPrivate" value='0' id="input_check_hidden"/>
                                <button style="margin-left: 19px">수정</button>
                            </form>

                            <!-- 제목수정 -->
                            <form th:action="@{/planner/modify-title}" method="post" class="form__title">
                                <input type="hidden" th:value="${planner.tpIdx}" name="tpIdx"/>
                                <input type="text" th:value="${planner.title}"  name="title" style="width: 214px; margin-right: 10px"/>
                                <button style="margin-top: 8px">제목수정</button>
                            </form>

                            <!-- 삭제 -->
                            <form th:action="@{/planner/remove}" method="post" >
                                <input type="hidden" th:value="${planner.tpIdx}" name="tpIdx"/>

                                <div class="wrapper__mod__btn">
                                    <button id="btnDel" style="margin-left: 244px; margin-bottom: 30px">삭제</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- 플래너 생성 버튼 -->
                    <div class="btn__add__planner" th:onclick="popUp()">
                        <div class="add__planner" style="display: none">
                            <form th:action="@{/planner/create}" method="post">
                                <input type="hidden" th:value="${#authentication.name}" name="userId"/>
                                <input type="text" name="title" th:value="플래너제목" style="margin-top: 80px"/>
                                <button style="margin-left: 245px">생성</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:inline="javascript">

            function popUp() {

                document.querySelector('.add__planner').style.display = 'block';
            }

            function popUpModify(str) {

                document.getElementById(str).style.display = 'block';
            }

            function closeModify(str) {

                document.getElementById(str).style.display = 'none';
            }
        </script>
    </div>
</body>
</html>