<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<div class="content container" layout:fragment="content">   
    <h2 class="tit">*게시판</h2>
    <div class="desc_board">
      <div class="info" >
          <span >번호 : [[${planner.tpIdx}]]</span>
          <span>제목 : [[${planner.title}]]</span>
          <span>등록일 : [[${planner.regDateAsDate}]]</span>
          <span>호스트 : [[${planner.host.participant.member.userId}]]</span>
      </div>
      
      <div class="info file_info">
      <br>
      <span>공유 인원 목록</span>
      	<ol>
      	
      		<li th:each="group : ${planner.travelGroup.participants}">
				<p th:text="${group.member.userId}"> 
				
      	 	</li>
      	 		
      	 	<!--  <form th:action="@{/planner/add-group}" method="post" >
				<input type="text" th:value="group1B" name="newUserId"/> 
	          	<input type="hidden" th:value="${planner.tpIdx}" name="tpIdx"/> 
	          	<button><span>공유 인원 추가</span></button>
	          </form>	
	          -->     
      	</ol>
      			<div id="addGroupResponse"></div>
      			<input type="text" th:value="group1B" name="newUserId" id ="newUser"/> 
	          	<button onclick="addGroup()"><span>공유 인원 추가</span></button>
      </div>
      
      <div class="article_content">
      	<pre>[[${planner.title}]]</pre>
      </div>
      <div class="btn_section">
      
          <button onclick="location.href='/planner/list'"><span>목록으로 돌아가기</span></button>
          
          
      </div>
      <br>
      <br>
      
	  <input type="text" th:value="제목없음" name="todolistTitleAdd" id="todolistTitleAdd"/> 
	  <button onclick="addTodoList()"><span>todolist 등록</span></button>
	  
      <div>
   
      	<ol>
      		<li th:each="todolist, status : ${planner.todolistResponses}" th:id="|f${todolist.tlIdx}|">  
      	 		<p th:text="${todolist.title}"/>
			    <button th:attr="data-idx=|${todolist.tlIdx}|" class="btnCloseTodolist">x</button>
			   
	          	<input type="text" th:value="${todolist.tlIdx}" th:id="|tlidx${todolist.tlIdx}|"/>
	          	<input type="text" th:value="${todolist.title}" th:id="|tltitle${todolist.tlIdx}|"/>  
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="todolistmod">todolist 제목 수정</button>
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="todolistdel">todolist 삭제</button>
	          	
	          	<br>
	          	<input type="text" th:value="숙박제목1" th:id="|actodotitleadd${todolist.tlIdx}|"/>
	          	<input type="text" th:value="숙박내용1" th:id="|actodocontentadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="|2023-06-12T19:25|" th:id="|actododateadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="숙박주소1" th:id="|actodoaddressadd${todolist.tlIdx}|"/> 
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="actodoadd">Accomodation todo 등록</button>
	          	<br>
	          	<!-- request에  있는 속성을 다 넣어야 되나. tlIdx를 어떻게 주나..-->
	          	<input type="text" th:value="관광지제목1" th:id="|attodotitleadd${todolist.tlIdx}|"/>
	          	<input type="text" th:value="관광지내용1" th:id="|attodocontentadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="관광지날짜1" th:id="|attododateadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="관광지정보1" th:id="|attodoinfoadd${todolist.tlIdx}|"/> 
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="attodoadd">Attractions todo 등록</button>
	          	<br>
	          	<!-- request에  있는 속성을 다 넣어야 되나. tlIdx를 어떻게 주나..-->
	          	<input type="text" th:value="예산제목1" th:id="|bgtodotitleadd${todolist.tlIdx}|"/>
	          	<input type="text" th:value="예산내용1" th:id="|bgtodocontentadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="예산날짜1" th:id="|bgtododateadd${todolist.tlIdx}|"/>  
	          	<input type="text" th:value="예산금액1" th:id="|bgtodomoneyadd${todolist.tlIdx}|"/>  
	          	<input type="text" th:value="예산종류1" th:id="|bgtodotypeadd${todolist.tlIdx}|"/>  
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="bgtodoadd">Budget todo 등록</button>
	          	<br>
	          	<!-- request에  있는 속성을 다 넣어야 되나. tlIdx를 어떻게 주나..-->
	          	<input type="text" th:value="일반제목1" th:id="|gntodotitleadd${todolist.tlIdx}|"/>
	          	<input type="text" th:value="일반내용1" th:id="|gntodocontentadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="일반날짜1" th:id="|gntododateadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="일반주소1" th:id="|gntodoaddressadd${todolist.tlIdx}|"/> 
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="gntodoadd">General todo 등록</button>
	          	<br>
	          	<!-- request에  있는 속성을 다 넣어야 되나. tlIdx를 어떻게 주나..-->
	          	<input type="text" th:value="교통제목1" th:id="|trtodotitleadd${todolist.tlIdx}|"/>
	          	<input type="text" th:value="교통내용1" th:id="|trtodocontentadd${todolist.tlIdx}|"/> 
	          	<input type="text" th:value="교통날짜1" th:id="|trtododateadd${todolist.tlIdx}|"/>  
	          	<input type="text" th:value="교통타입1" th:id="|trtodotypeadd${todolist.tlIdx}|"/>  
	          	<button th:attr="data-tlidx=|${todolist.tlIdx}|" class="trtodoadd">General todo 등록</button>
	          	
	          	<ol>
	          		<li th:each="todo : ${todolist.accomodationTodoResponses}" th:id="|d${todo.tdIdx}|">
	          			<p th:text="${todo.title}"/>
	          			<b th:attr="data-idx=|f${todo.tdIdx}|" class="btnCloseTodo">x</b>
	          			<p th:text="${todo.contents}"/><p th:text="${todo.todoDate}"/><p th:text="${todo.isPrivate}"/>
	          			<p th:text="${todo.address}"/>
	          			
	          			<input type="text" th:value="${todo.tdIdx}" th:id="|tdidx${todo.tdIdx}|"/>  
	          			<input type="text" th:value="${todo.title}" th:id="|actodotitlemod${todo.tdIdx}|"/>  
	          			<input type="text" th:value="${todo.contents}" th:id="|actodocontentmod${todo.tdIdx}|"/>
	          			<input type="text" th:value="${todo.todoDate}" th:id="|actododatemod${todo.tdIdx}|"/>
	          			<input type="text" th:value="${todo.address}" th:id="|actodoaddressmod${todo.tdIdx}|"/>
	          			<input type="checkbox" th:value="${todo.isPrivate}" th:id="|actodopvmod${todo.tdIdx}|"/>
	          			<button th:attr="data-tdidx=|${todo.tdIdx}|" class="actodomod">Accomodation todo 수정</button>
	         			<button th:attr="data-tdidx=|${todo.tdIdx}|, data-tlidx=|${todolist.tlIdx}|" class="actododel">Accomodation todo 삭제</button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.attractionsTodoResponses}">
	          			<p th:text="${todo.title}"/><p th:text="${todo.contents}"/><p th:text="${todo.todoDate}"/><p th:text="${todo.isPrivate}"/>
	          			<p th:text="${todo.attractions}"/>
	          			<button onclick="modAttractionsTodo()"><span>attractions todo 수정</span></button>
	         			<button id="btnDel" onclick="delAttractionsTodo()"><span>attractions todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.budgetTodoResponses}">
	          			<p th:text="${todo.title}"/><p th:text="${todo.contents}"/><p th:text="${todo.todoDate}"/><p th:text="${todo.isPrivate}"/>
	          			<p th:text="${todo.budgetType}"/><p th:text="${todo.budget}"/>
	          			<button onclick="modBudgetTodo()"><span>budget todo 수정</span></button>
	         			<button id="btnDel" onclick="delBudgetTodo()"><span>budget todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.generalTodoResponses}">
	          			<p th:text="${todo.title}"/><p th:text="${todo.contents}"/><p th:text="${todo.todoDate}"/><p th:text="${todo.isPrivate}"/>
	          			<p th:text="${todo.address}"/>
	          			<button onclick="modGeneralTodo()"><span>general todo 수정</span></button>
	         			<button id="btnDel" onclick="delGeneralTodo()"><span>general todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.transportTodoResponses}">
	          			<p th:text="${todo.title}"/><p th:text="${todo.contents}"/><p th:text="${todo.todoDate}"/><p th:text="${todo.isPrivate}"/>
	          			<p th:text="${todo.transportType}"/>
	          			<button onclick="modTransportTodo()"><span>transport todo 수정</span></button>
	         			<button id="btnDel" onclick="delTransportTodo()"><span>transport todo 삭제</span></button>
	          		</li>	
	          	</ol>
	         
	         
      	 	</li>	     
      	</ol>
      </div>
      <div id="addTodoListResponse"></div>
      <div id="accomodationResponse"></div>
      <div id="modTodoListresponse"></div>
   </div>
</div>
<script type="text/javascript" layout:fragment="script" th:inline="javascript">

	var stompClient = null;

	var stompClient_addGroup = null;

	//var stompClient_addTodoList = null;
	//var stompClient_modTodoList = null;
	//var stompClient_delTodoList = null;
	
	//var stompClient_addAccomodationTodo = null;
	var stompClient_addAttractionsTodo = null;
	var stompClient_addBudgetTodo = null;
	var stompClient_addGeneralTodo = null;
	var stompClient_addTransportTodo = null;
	
	//var stompClient_modAccomodationTodo = null;
	var stompClient_modAttractionsTodo = null;
	var stompClient_modBudgetTodo = null;
	var stompClient_modGeneralTodo = null;
	var stompClient_modTransportTodo = null;
	
	var stompClient_delAccomodationTodo = null;
	var stompClient_delAttractionsTodo = null;
	var stompClient_delBudgetTodo = null;
	var stompClient_delGeneralTodo = null;
	var stompClient_delTransportTodo = null;
	
	//모듈화
	function connect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient= Stomp.over(socket);
	    
	    stompClient.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient.subscribe('/topic/planner-message/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.log('res: '+res);
	          	
	          	if(res.type === 'upload-todolist'){
	          		addTodoListResponse.innerHTML += 
		          		'<span style="background:yellow">'+ "todolist idx, 제목 : " + res.msg.tlIdx + " ,  " +res.msg.title + '<br>'+'</span>';
		          		
	          	}else if(res.type === 'modify-todolist'){
	          		console.log('res.msg.tlIdx: '+res.msg.tlIdx);
	          		document.querySelector('#f'+res.msg.tlIdx).style.display='none';
		          	modTodoListresponse.innerHTML += '<span style="background:yellow">'+ 
		          	"todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
		          	
	          	}else if(res.type === 'remove-todolist'){
	          		console.log('res.msg: '+res.msg);
	          		document.querySelector('#f'+res.msg).style.display='none';
	          		
	          	}else if(res.type === 'upload-accomodation'){
	          		console.log('res.msg.title: '+res.msg.title);
	          		console.log('res.msg.contents: '+res.msg.contents);
	          		console.log('res.msg.todoDate: '+res.msg.todoDate);
	          		console.log('res.msg.address: '+res.msg.address);
	          		addTodoListResponse.innerHTML += 
		          		'<span style="background:yellow">'+ "숙박todo 제목, 내용, 날짜, 주소 : " + res.msg.title + " ,  " +res.msg.contents + 
		          		res.msg.todoDate + " ,  " +res.msg.address +'<br>'+'</span>';
	          	}else if(res.type === 'modify-accomodation'){
	          		console.log('res.msg.title: '+res.msg.title);
	          		console.log('res.msg.contents: '+res.msg.contents);
	          		console.log('res.msg.todoDate: '+res.msg.todoDate);
	          		console.log('res.msg.address: '+res.msg.address);
	          		console.log('res.msg.isPrivate: '+res.msg.isPrivate);
	          		document.querySelector('#d'+res.msg.tdIdx).style.display='none';
	          		addTodoListResponse.innerHTML += 
		          		'<span style="background:yellow">'+ "숙박todo 제목, 내용, 날짜, 주소, 비밀: " + res.msg.title + " ,  " +res.msg.contents + 
		          		res.msg.todoDate + " ,  " +res.msg.address + res.msg.isPrivate+ '<br>'+'</span>';
	          	}else if(res.type === 'remove-accomodation'){
	          		console.log('res.msg: '+res.msg);
	          		document.querySelector('#d'+res.msg).style.display='none';
	          	}
	          	
	        }    
	        );
	    });
	}
	
	function modTodoListDisconnect() {
	    if (stompClient !== null) {
	    	stompClient.disconnect();
	    }
	    console.log("Disconnected");
	}
	
	//투두리스트 추가
	function addTodoList() {
		let title = todolistTitleAdd.value;
		console.dir(title);
		stompClient.send("/app/upload-todolist/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	//투두리스트 수정
	document.querySelectorAll('.todolistmod').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let tlIdx = ev.target.dataset.tlidx;
			console.log('tlIdx: '+tlIdx);
			
			let todolistIdx = document.getElementById('tlidx'+tlIdx).value;
			let todolistTitle = document.getElementById('tltitle'+tlIdx).value;
			
			console.log('todolistIdx: '+todolistIdx);
			console.log('todolistTitle: '+todolistTitle);
			
			stompClient.send("/app/modify-todolist/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':todolistTitle, 'tlIdx':todolistIdx}));
			
		});
	})
	
	//투두리스트 삭제
	document.querySelectorAll('.todolistdel').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let tlIdx = ev.target.dataset.tlidx;
			console.log('tlIdx: '+tlIdx);
			
			let todolistIdx = document.getElementById('tlidx'+tlIdx).value;
			
			console.log('todolistIdx: '+todolistIdx);
			
			stompClient.send("/app/remove-todolist/" + [[${planner.tpIdx}]], {}, JSON.stringify({'tlIdx':todolistIdx}));
			
		});
	})
	
	//숙박투두카드 추가
	document.querySelectorAll('.actodoadd').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let tlIdx = ev.target.dataset.tlidx;
			console.log('tlIdx: '+tlIdx);
			
			let todolistIdx = document.getElementById('tlidx'+tlIdx).value;
			let actodotitle = document.getElementById('actodotitleadd'+tlIdx).value;
			let actodocontent = document.getElementById('actodocontentadd'+tlIdx).value;
			let actododate = document.getElementById('actododateadd'+tlIdx).value;
			let actodoaddress = document.getElementById('actodoaddressadd'+tlIdx).value;
			
			console.log('todolistIdx: '+todolistIdx);
			console.log('actodotitle: '+actodotitle);
			console.log('actodocontent: '+actodocontent);
			console.log('actododate: '+actododate);
			console.log('actodoaddress: '+actodoaddress);
			
			stompClient.send("/app/upload-accomodation/" + [[${planner.tpIdx}]]+"/"+tlIdx, {}, 
					JSON.stringify({'title':actodotitle, 'contents':actodocontent, 'todoDate':actododate, 'address':actodoaddress}));
			
		});
	})
	
	//숙박투두카드 수정
	document.querySelectorAll('.actodomod').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			//let tlIdx = ev.target.dataset.tlidx;
			//console.log('tlIdx: '+tlIdx);
			let tdIdx = ev.target.dataset.tdidx;
			console.log('tdIdx: '+tdIdx);
			
			let actodoIdx = document.getElementById('tdidx'+tdIdx).value;
			let actodotitle = document.getElementById('actodotitlemod'+tdIdx).value;
			let actodocontent = document.getElementById('actodocontentmod'+tdIdx).value;
			let actododate = document.getElementById('actododatemod'+tdIdx).value;
			let actodoaddress = document.getElementById('actodoaddressmod'+tdIdx).value;
			let actodoprivate = document.getElementById('actodopvmod'+tdIdx).value;
			
			console.log('actodoIdx: '+actodoIdx);
			console.log('actodotitle: '+actodotitle);
			console.log('actodocontent: '+actodocontent);
			console.log('actododate: '+actododate);
			console.log('actodoaddress: '+actodoaddress);
			console.log('actodoprivate: '+actodoprivate);
			
			stompClient.send("/app/modify-accomodation/" + [[${planner.tpIdx}]], {}, 
					JSON.stringify({'tdIdx':actodoIdx, 'title':actodotitle, 'contents':actodocontent, 'todoDate':actododate, 
						'address':actodoaddress, 'isPrivate':actodoprivate}));
			
		});
	})
	
	//숙박투두카드 삭제
	document.querySelectorAll('.actododel').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let tlIdx = ev.target.dataset.tlidx;
			let tdIdx = ev.target.dataset.tdidx;
			console.log('tlIdx: '+tlIdx);
			console.log('tdIdx: '+tdIdx);
			
			let actodoIdx = document.getElementById('tdidx'+tdIdx).value;
			
			console.log('actodoIdx: '+actodoIdx);
			
			stompClient.send("/app/remove-accomodation/" + [[${planner.tpIdx}]]+"/"+tlIdx, {}, 
					JSON.stringify({'tdIdx':actodoIdx }));
			
		});
	})
	
	
	//공유 인원 추가
	function addGroup() {
		let newUserId = newUser.value;
		
		stompClient_addGroup.send("/app/add-group/" + [[${planner.tpIdx}]], {}, JSON.stringify({'newUserId':newUserId}));
	}
	
	function addGroupConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_addGroup = Stomp.over(socket);
	    
	    stompClient_addGroup.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_addGroup.subscribe('/topic/add-group/' + [[${planner.tpIdx}]], function (addGroupRecommand) {
	        	res = JSON.parse(addGroupRecommand.body);
	          	console.dir(res)
	          	addGroupResponse.innerHTML += '<span style="background:yellow">'+ res.userId + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function addGroupDisconnect() {
	    if (stompClient_addGroup !== null) {
	    	stompClient_addGroup.disconnect();
	    }
	    console.log("Disconnected");
	}

	//Attractions todo 등록
	function addAttractionsTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_addAttractionsTodo.send("/app/upload-attractions/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function addAttractionsTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_addAttractionsTodo = Stomp.over(socket);
	    
	    stompClient_addAttractionsTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_addAttractionsTodo.subscribe('/topic/upload-attractions/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function addAttractionsTodoDisconnect() {
	    if (stompClient_addAttractionsTodo !== null) {
	    	stompClient_addAttractionsTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//Budget todo 등록
	function addBudgetTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_addBudgetTodo.send("/app/upload-budget/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function addBudgetTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_addBudgetTodo = Stomp.over(socket);
	    
	    stompClient_addBudgetTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_addBudgetTodo.subscribe('/topic/upload-budget/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function addBudgetTodoDisconnect() {
	    if (stompClient_addBudgetTodo !== null) {
	    	stompClient_addBudgetTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//General todo 등록
	function addGeneralTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_addGeneralTodo.send("/app/upload-general/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function addGeneralTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_addGeneralTodo = Stomp.over(socket);
	    
	    stompClient_addGeneralTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_addGeneralTodo.subscribe('/topic/upload-general/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function addGeneralTodoDisconnect() {
	    if (stompClient_addGeneralTodo !== null) {
	    	stompClient_addGeneralTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//Transport todo 등록
	function addTransportTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_addTransportTodo.send("/app/upload-transport/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function addTransportTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_addTransportTodo = Stomp.over(socket);
	    
	    stompClient_addTransportTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_addTransportTodo.subscribe('/topic/upload-transport/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function addTransportTodoDisconnect() {
	    if (stompClient_addTransportTodo !== null) {
	    	stompClient_addTransportTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//Accomodation todo 수정
	function modAccomodationTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_modAccomodationTodo.send("/app/modify-accomodation/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function modAccomodationTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_modAccomodationTodo = Stomp.over(socket);
	    
	    stompClient_modAccomodationTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_modAccomodationTodo.subscribe('/topic/modify-accomodation/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function modAccomodationTodoDisconnect() {
	    if (stompClient_modAccomodationTodo !== null) {
	    	stompClient_modAccomodationTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//attractions todo 수정
	function modAttractionsTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_modAttractionsTodo.send("/app/modify-attractions/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function modAttractionsTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_modAttractionsTodo = Stomp.over(socket);
	    
	    stompClient_modAttractionsTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_modAttractionsTodo.subscribe('/topic/modify-attractions/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function modAttractionsTodoDisconnect() {
	    if (stompClient_modAttractionsTodo !== null) {
	    	stompClient_modAttractionsTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//budget todo 수정
	function modBudgetTodoList() {
		let title = todolistTitleAdd.value;
		
		stompClient_modBudgetTodo.send("/app/modify-budget/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function modBudgetTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_modBudgetTodo = Stomp.over(socket);
	    
	    stompClient_modBudgetTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_modBudgetTodo.subscribe('/topic/modify-budget/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function modBudgetTodoDisconnect() {
	    if (stompClient_modBudgetTodo !== null) {
	    	stompClient_modBudgetTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//general todo 수정
	function modGeneralTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_modGeneralTodo.send("/app/modify-general/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function modGeneralTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_modGeneralTodo = Stomp.over(socket);
	    
	    stompClient_modGeneralTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_modGeneralTodo.subscribe('/topic/modify-general/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function modGeneralTodoDisconnect() {
	    if (stompClient_modGeneralTodo !== null) {
	    	stompClient_modGeneralTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//transport todo 수정
	function modTransportTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_modTransportTodo.send("/app/modify-transport/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function modTransportTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_modTransportTodo = Stomp.over(socket);
	    
	    stompClient_modTransportTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_modTransportTodo.subscribe('/topic/modify-transport/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function modTransportTodoDisconnect() {
	    if (stompClient_modTransportTodo !== null) {
	    	stompClient_modTransportTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//Accomodation todo 삭제
	function delAccomodationTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_delAccomodationTodo.send("/app/remove-accomodation/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function delAccomodationTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_delAccomodationTodo = Stomp.over(socket);
	    
	    stompClient_delAccomodationTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_delAccomodationTodo.subscribe('/topic/remove-accomodation/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function delAccomodationTodoDisconnect() {
	    if (stompClient_delAccomodationTodo !== null) {
	    	stompClient_delAccomodationTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//attractions todo 삭제
	function delAttractionsTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_delAttractionsTodo.send("/app/remove-attractions/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function delAttractionsTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_delAttractionsTodo = Stomp.over(socket);
	    
	    stompClient_delAttractionsTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_delAttractionsTodo.subscribe('/topic/remove-attractions/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function delAttractionsTodoDisconnect() {
	    if (stompClient_delAttractionsTodo !== null) {
	    	stompClient_delAttractionsTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//budget todo 삭제
	function delBudgetTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_delBudgetTodo.send("/app/remove-budget/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function delBudgetTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_delBudgetTodo = Stomp.over(socket);
	    
	    stompClient_delBudgetTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_delBudgetTodo.subscribe('/topic/remove-budget/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function delBudgetTodoDisconnect() {
	    if (stompClient_delBudgetTodo !== null) {
	    	stompClient_delBudgetTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//general todo 삭제
	function delGeneralTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_delGeneralTodo.send("/app/remove-general/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function delGeneralTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_delGeneralTodo = Stomp.over(socket);
	    
	    stompClient_delGeneralTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_delGeneralTodo.subscribe('/topic/remove-general/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function delGeneralTodoDisconnect() {
	    if (stompClient_delGeneralTodo !== null) {
	    	stompClient_delGeneralTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	//transport todo 삭제
	function delTransportTodo() {
		let title = todolistTitleAdd.value;
		
		stompClient_delTransportTodo.send("/app/remove-transport/" + [[${planner.tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function delTransportTodoConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient_delTransportTodo = Stomp.over(socket);
	    
	    stompClient_delTransportTodo.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient_delTransportTodo.subscribe('/topic/remove-transport/' + [[${planner.tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	function delTransportTodoDisconnect() {
	    if (stompClient_delTransportTodo !== null) {
	    	stompClient_delTransportTodo.disconnect();
	    }
	    console.log("Disconnected");
	}
	
	connect();
	addGroupConnect();
	
	//addTodoListConnect();
	//modTodoListConnect();
	//delTodoListConnect();
		
	
	document.querySelectorAll('.btnCloseTodolist').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let todolistId = ev.target.dataset.idx;
			console.log('todolistId: '+todolistId);
			document.querySelector('#f'+todolistId).style.display='none';
			
			//todolistId = todolistId.replace('f','');
			
			//inpDeltodolist = createElement("input",{prop:{"type":"hidden","value":fileId,"name":"delTodolist"}});
			//frmModify.append(inpDeltodolist);
			
		});
	})
	
	document.querySelectorAll('.btnCloseTodo').forEach(e => {
		
		e.addEventListener('click', ev => {
			
			let todoId = ev.target.dataset.idx;
			console.log('todoId: '+todoId);
			document.querySelector('#f'+todoId).style.display='none';
			
			//todoId = todoId.replace('f','');
			
			//inpDeltodo = createElement("input",{prop:{"type":"hidden","value":fileId,"name":"delTodo"}});
			//frmModify.append(inpDeltodo);
			
		});
	})
	
	
	
	
	
	
	
	
	
</script>
</body>
</html>