<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
</head>
<body>

<div class="container" layout:fragment="content">
	<div class="row">
 <h2 class="tit">* 게시판</h2>
    <a href="/gallery/form">게시글 쓰기</a>

		<div th:each="gallery, status : ${galleryList}">
			<div>
				<span th:text="${gallery}"></span>
			</div>
				<a th:href="@{|/gallery/detail?postIdx=${gallery.postIdx}|}">
					<img th:src="@{/gallery/download(fpIdx=${gallery.thumb})}">
				</a>
		</div>
	</div>
</div>
</body>
</html>