<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link href="/css/board/board.css" rel="stylesheet"> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>

<div class="content container" layout:fragment="content">   
    <h2 class="tit">*게시판</h2>
    <div class="desc_board">
      <div class="info" >
          <span >번호 : [[${planner.tpIdx}]]</span>
          <span>제목 : [[${planner.title}]]</span>
          <span>등록일 : [[${planner.regDateAsDate}]]</span>
          <span>호스트 : [[${planner.host.participant.member.userId}]]</span>
      </div>
      
      <div class="info file_info">
      	<ol>
      		<li th:each="group : ${planner.travelGroup.participants}">
				<p th:text="${group.member.userId}"> 
				
      	 	</li>
      	 	<form th:action="@{/planner/add-group}" method="post" >
				<input type="text" th:value="group1B" name="newUserId"/> 
	          	<input type="hidden" th:value="${planner.tpIdx}" name="tpIdx"/> 
	          	<button><span>공유 인원 추가</span></button>
	          </form>	     
      	</ol>
      </div>
      
      <div class="article_content">
      	<pre>[[${planner.title}]]</pre>
      </div>
      <div class="btn_section">
      
          <button onclick="location.href='/planner/list'"><span>목록</span></button>
          
          
      </div>
	  <input type="text" th:value="제목없음" name="title" id="title"/> 
	  <button onclick="addTodoList()"><span>todolist 등록</span></button>
	 
      <div>
      	<ol>
      		<li th:each="todolist : ${planner.todolistResponses}">  
      	 		<p th:text="${todolist.title}">
	          	<button id="btnDel" onclick="delTodoList()"><span>todolist 삭제</span></button>
	          	
	          	<input type="hidden" th:value="${todolist.tlIdx}" name="tlIdx" id="tlIdx"/> 
	          	<input type="hidden" th:value="${todolist.title}" name="modify_title" id="modify_title"/> 
	          	<button onclick="modTodoList()"><span>todolist 제목 수정</span></button>
	          	
	          	
	          	<button onclick="addAccomodationTodo()"><span>Accomodation todo 등록</span></button>
	          	<button onclick="addAttractionsTodo()"><span>Attractions todo 등록</span></button>
	          	<button onclick="addBudgetTodo()"><span>Budget todo 등록</span></button>
	          	<button onclick="addGeneralTodo()"><span>General todo 등록</span></button>
	          	<button onclick="addTransportTodo()"><span>Transport todo 등록</span></button>
	          	
	          	<ol>
	          		<li th:each="todo : ${todolist.accomodationTodoResponses}">
	          			<p th:text="${todo.title}"><p th:text="${todo.contents}"><p th:text="${todo.todoDate}"><p th:text="${todo.isPrivate}">
	          			<p th:text="${todo.address}">
	          			<button onclick="modAccomodationTodo()"><span>Accomodation todo 수정</span></button>
	         			<button id="btnDel" onclick="delAccomodationTodo()"><span>Accomodation todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.attractionsTodoResponses}">
	          			<p th:text="${todo.title}"><p th:text="${todo.contents}"><p th:text="${todo.todoDate}"><p th:text="${todo.isPrivate}">
	          			<p th:text="${todo.attractions}">
	          			<button onclick="modAttractionsTodo()"><span>attractions todo 수정</span></button>
	         			<button id="btnDel" onclick="delAttractionsTodo()"><span>attractions todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.budgetTodoResponses}">
	          			<p th:text="${todo.title}"><p th:text="${todo.contents}"><p th:text="${todo.todoDate}"><p th:text="${todo.isPrivate}">
	          			<p th:text="${todo.budgetType}"><p th:text="${todo.budget}">
	          			<button onclick="modBudgetTodo()"><span>budget todo 수정</span></button>
	         			<button id="btnDel" onclick="delBudgetTodo()"><span>budget todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.generalTodoResponses}">
	          			<p th:text="${todo.title}"><p th:text="${todo.contents}"><p th:text="${todo.todoDate}"><p th:text="${todo.isPrivate}">
	          			<p th:text="${todo.address}">
	          			<button onclick="modGeneralTodo()"><span>general todo 수정</span></button>
	         			<button id="btnDel" onclick="delGeneralTodo()"><span>general todo 삭제</span></button>
	          		</li>	
	          	</ol>
	          	<ol>
	          		<li th:each="todo : ${todolist.transportTodoResponses}">
	          			<p th:text="${todo.title}"><p th:text="${todo.contents}"><p th:text="${todo.todoDate}"><p th:text="${todo.isPrivate}">
	          			<p th:text="${todo.transportType}">
	          			<button onclick="modTransportTodo()"><span>transport todo 수정</span></button>
	         			<button id="btnDel" onclick="delTransportTodo()"><span>transport todo 삭제</span></button>
	          		</li>	
	          	</ol>
	         
	         
      	 	</li>	     
      	</ol>
      </div>
      <!--  
      <th:block sec:authorize="isAuthenticated()" th:if="${gallery.userId eq #authentication.name}">
	  	<form th:action="@{/comment/upload}" method="post" >
	  		<input type="text" id="context" name="context" required="required">
	  		<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	  		<button><span>댓글 등록</span></button>
	  	</form>
      </th:block>
     
      <div>
      	<ol>
      		<li th:each="comment : ${gallery.commentResponses}">  
      	 		<p th:text="${comment.context}">
      	 		<form th:action="@{/comment/remove}" method="post" >
      	 		<input type="hidden" th:value="${comment.cmIdx}" name="cmIdx"/> 
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button id="btnDel"><span>댓글 삭제</span></button>
	          	</form>
      	 		<form th:action="@{/comment/modify}" method="post" >
	          	<input type="text" id="context" name="context" required="required">
	          	<input type="hidden" th:value="${comment.cmIdx}" name="cmIdx"/> 
	          	<input type="hidden" th:value="${gallery.postIdx}" name="postIdx"/> 
	          	<button><span>댓글 수정</span></button>
	          </form>
      	 	</li>	     
      	</ol>
      </div>
       -->
      
      
   </div>
</div>
<script type="text/javascript" layout:fragment="script" th:inline="javascript">

	function addTodoList() {
		let title = title.value;
		
	    stompClient.send("/app/upload-todolist/" + [[${tpIdx}]], {}, JSON.stringify({'title':title}));
	}
	
	function addTodoListConnect() {
	    var socket = new SockJS('/gs-guide-websocket');
	    stompClient = Stomp.over(socket);
	    
	    stompClient.connect({}, function (frame) {
	        console.log('Connected: ' + frame);
	        stompClient.subscribe('/topic/upload-todolist/' + [[${tpIdx}]], function (recommand) {
	        	res = JSON.parse(recommand.body);
	          	console.dir(res)
	          	response.innerHTML += '<span style="background:yellow">'+ "todolist idx, 제목 : " + res.tlIdx + " ,  " +res.Title + '<br>'+'</span>';
	        }    
	        );
	    });
	}
	
	
	
	function addTodoListDisconnect() {
	    if (stompClient !== null) {
	        stompClient.disconnect();
	    }
	    console.log("Disconnected");
	}
	
	
	addTodoListConnect();
	
</script>
</body>
</html>